@model IEnumerable<RosterMe.Models.Entities.Timesheets>

@{
    ViewData["Title"] = "Timesheets MAnagement";
}

<hr />
<h2>Timesheets Management</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeOut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AttendanceDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shift)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApprovalStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.EmployeeId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeIn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeOut)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AttendanceDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Shift.ShiftId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApprovalStatus)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.AttendanceId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.AttendanceId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.AttendanceId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
