@model IEnumerable<RosterMe.Models.Entities.Login>

@{
    //Set Layout
    Layout = "~Views/Shared/_LoginLayout.cshtml";

    //Set tab title
    ViewData["Title"] = "Logins Management";
}

<hr />
<h2>Login Details</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.LoginId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.LoginId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.LoginId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
