@model RosterMe.Models.Entities.ShiftInvitation
@{
    //Set tab title
    ViewData["Title"] = "Invite Employee";

    /* ---- Get, Check & Store View Datas for Shift Invitation ---- */
    //Employee Invitation Information
    var employeeInvitation = ViewData["EmployeeInvitationInfo"] 
        as RosterMe.Models.Entities.ShiftInvitation;
    //Existing Shifts
    List<RosterMe.Models.Entities.Shift> existingShifts =
        (List<RosterMe.Models.Entities.Shift>)ViewData["ExistingShifts"];
    //Existing Employees
    List<RosterMe.Models.Entities.Employee> existingEmployees =
    (List<RosterMe.Models.Entities.Employee>)ViewData["ExistingEmployees"];
}

<!-- #### Employee Invitation: Title #### -->
<hr /><hr />
<h2>Invite Employee to Shift</h2>

<h4>Shift Invitation Form</h4>
<hr />

<!-- #### Employee Invitation: Form #### -->
<div class="row">
    <div class="col-md-4">
        <form>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="InvitationId" />
            <div class="form-group">
                <label class="control-label">
                    Existing Employee Selection
                </label>
                <select class="form-control">
                    <option style="font-style: italic; color: #808080;">
                        Select an employee...
                    </option>
                    @foreach (var employee in existingEmployees)
                    {
                        <option>
                            @employee.EmployeeId - @employee.FirstName @employee.LastName
                        </option>
                    }
                </select>
                <span asp-validation-for="@employeeInvitation.Employee"
                      class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">
                    Existing Shift Selection
                </label>
                <select class="form-control">
                    <option style="font-style: italic; color: #808080;">
                        Select Shift...
                    </option>
                    @foreach (var shift in existingShifts)
                    {
                        <option>
                            @shift.ShiftId - @shift.ShiftName: 
                            @shift.StartTime.ToString("hh:mm") 
                            to 
                            @shift.FinishTime.ToString("hh:mm")
                        </option>
                    }
                </select>
                <span asp-validation-for="@employeeInvitation.Shift" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InvitationStatus" class="control-label"></label>
                <input asp-for="InvitationStatus" class="form-control" />
                <span asp-validation-for="InvitationStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InvitationDate" class="control-label"></label>
                <input asp-for="InvitationDate" class="form-control" />
                <span asp-validation-for="InvitationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NotificationStatus" class="control-label"></label>
                <input asp-for="NotificationStatus" class="form-control" />
                <span asp-validation-for="NotificationStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default"
                       style="background: #0066ff; color: #f2f2f2; font-size: 14px;" />
            </div>
        </form>
    </div>
</div>