@model RosterMe.Models.Entities.ShiftInvitation
@{
    //Set tab title
    ViewData["Title"] = "Invite Employee";

    //Set Layout
    Layout = "~/Views/Shared/_ShiftsLayout.cshtml";

    /* ---- Get, Check & Store View Datas for Shift Invitation ---- */
    //Employee Invitation Information
    var employeeInvitation = ViewData["EmployeeInvitationInfo"] 
        as RosterMe.Models.Entities.ShiftInvitation;
    //Existing Shifts
    List<RosterMe.Models.Entities.Shift> existingShifts =
        (List<RosterMe.Models.Entities.Shift>)ViewData["ExistingShifts"];
    //Existing Employees
    List<RosterMe.Models.Entities.Employee> existingEmployees =
    (List<RosterMe.Models.Entities.Employee>)ViewData["ExistingEmployees"];
    //ShiftInvitations
    List<RosterMe.Models.Entities.ShiftInvitation> shiftInvitations =
    (List<RosterMe.Models.Entities.ShiftInvitation>)ViewData["ShiftInvitations"];
}

<!-- #### Employee Invitation: Title #### -->
<hr /><hr />
<h2>Invite Employee to Shift</h2>

<h4>Shift Invitation Form</h4>
<h5>Invitation ID: </h5>
<select class="form-control">
    @foreach(var invitation in shiftInvitations)
    {
        <option>
            Invitation: @invitation.InvitationId: 
            @invitation.Employee.FirstName @invitation.Employee.LastName - 
            Shift: @invitation.ShiftId
        </option>
    }
</select>
<hr />

<!-- #### Employee Invitation: Form #### -->
<div class="row">
    <form asp-action="InviteEmployee" asp-controller="ShiftInvitations">
        <div id="column" style="margin: 3px 15px 8px 0px; float: left;">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="InvitationId" />
            <div style="margin: 15px 0px 15px 0px;">
                <label class="control-label">
                    Existing Employee Selection
                </label>
                <select class="form-control" name="employeeName">
                    <!--
                    <option style="font-style: italic; color: #808080;">
                        Select an employee...
                    </option>
                    -->
                    @foreach (var employee in existingEmployees)
                    {
                        <option>
                            Employee: @employee.EmployeeId - @employee.FirstName @employee.LastName
                        </option>
                    }
                </select>
                <span asp-validation-for="@employeeInvitation.Employee"
                      class="text-danger"></span>
            </div>
            <div style="margin: 15px 0px 15px 0px;">
                <label class="control-label">
                    Existing Shift Selection
                </label>
                <select class="form-control" name="shiftName">
                    <option style="font-style: italic; color: #808080;" selected="selected">
                        Select Shift...
                    </option>
                    @foreach (var shift in existingShifts)
                    {
                        <option>
                            Shift: @shift.ShiftId - @shift.ShiftName:
                            @shift.StartTime.ToString("hh:mm")
                            to
                            @shift.FinishTime.ToString("hh:mm")
                        </option>
                    }
                </select>
                <span asp-validation-for="@employeeInvitation.Shift" class="text-danger"></span>
            </div>
        </div>
        <div id="column" style="margin: 8px 15px 8px 15px; float: left;">
            <div style="margin: 15px 0px 15px 0px;">
                <label asp-for="InvitationStatus" class="control-label"></label>
                <!--<input asp-for="InvitationStatus" class="form-control" placeholder="Enter a new status" />-->
                <select class="form-control" name="InvitationStatus">
                    <option style="color: #808080; font-style: italic;" selected="selected">
                        Select a status...
                    </option>
                    <option>
                        Pending
                    </option>
                    <option>
                        Invited
                    </option>
                    <option>
                        Declined
                    </option>
                </select>
                <span asp-validation-for="InvitationStatus" class="text-danger"></span>
            </div>
            <div style="margin: 15px 0px 15px 0px; width: 250px;">
                <label asp-for="InvitationDate" class="control-label"></label>
                <input asp-for="InvitationDate" class="form-control" />
                <span asp-validation-for="InvitationDate" class="text-danger"></span>
            </div>
        </div>
        <div id="column" style="margin: 8px 15px 8px 15px; float: left;">
            <div style="margin: 15px 0px 15px 0px;">
                <label asp-for="NotificationStatus" class="control-label"></label>
                <input asp-for="NotificationStatus" class="form-control" placeholder="Enter a new status" />
                <span asp-validation-for="NotificationStatus" class="text-danger"></span>
            </div>
            <div style="margin: 50px 0px 15px 0px; text-align: center;">
                <input type="submit" value="Save" class="btn btn-default"
                       style="background: #0066ff; color: #f2f2f2; font-size: 18px;" />
            </div>
        </div>
        <!--
        <div id="column" style="margin: 8px 15px 8px 15px; float: left;">
            <div>
                <input type="submit" value="Save" class="btn btn-default"
                       style="background: #0066ff; color: #f2f2f2; font-size: 22px;" />
            </div>
        </div>
        -->
    </form>
</div>