@model IEnumerable<RosterMe.Models.Entities.Availability>

@{
    Layout = "~/Views/Shared/_AvailabilityLayout.cshtml";
    ViewData["Title"] = "Availabilities";
}

<hr />
<h2>Availabilities</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvailableDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvailableFromTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvailableToTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvailableDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvailableFromTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvailableToTime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AvailabilityId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AvailabilityId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AvailabilityId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
