@model RosterMe.Models.Dashboard
<!-- model RosterMe.Models.Dashboard -->
@{
    //Display Home Layout
    //Layout = "~/Views/Shared/_DashboardLayout.cshtml";

    //Set tab title
    //ViewData["Title"] = "Dashboard";

    //Store employee details as Model
    List<RosterMe.Models.Entities.Employee> employeeDetailsModel =
        (List<RosterMe.Models.Entities.Employee>)ViewData["EmployeeDetails"];

    //
    String position = "";

    //
    if (employeeDetailsModel != null)
    {
        /*
        <p>
            There are data in Employee Details model
            @for(int i = 0; i < employeeDetailsModel.Count; i++)
            {
                @employeeDetailsModel[i].FirstName
            }
        </p>
        */
    }
    else
    {
        <p>
            No data in Employee Details Model
        </p>
    }
}

<!-- User Profile Section -->
<section class="" id="">
    <div class="">
        <div class="row">
            <div class="column">
                <div class="">
                    <h2 class="title wow fadeInUp">
                        Your Details
                    </h2>
                    <div class="userDetailsPhoto" style="float: left; margin-left: 50px;">
                        @foreach (var detail in employeeDetailsModel)
                        {
                            //Check gender
                            if (detail.Gender == "Male")
                            {
                                <img src="~/images/original/man_icon_400x400.png" 
                                     width="600" height="600"/>
                            }
                            else if (detail.Gender == "Female")
                            {
                                <img src="~/images/original/woman_icon_400x400.png" 
                                     width="600" height="600"/>
                            }
                        }
                    </div>
                </div>
            </div>
            <hr />
            <div class="column" style="margin: 15px 15px 15px 15px; float: left; align-content: center;">
                <div class="wow fadeInUp" data-wow-delay="0.5s">
                    <table class="userDetailsTable" 
                           style=" width: 500px; border-style: solid;">
                        <thead class="userDetailsHeader">
                            <tr>
                                <th style="width: 300px;">
                                    Profile
                                </th>
                                <th>
                                    Details
                                </th>
                            </tr>
                        </thead>
                        <tbody class="userDetailsBody" style="border-style: solid;">
                            <!-- #### User Details #### -->
                            @for (int i = 0; i < employeeDetailsModel.Count(); i++)
                            {
                                <tr>
                                    <td>
                                        Name
                                    </td>
                                    <td>
                                        @{
                                            <p>
                                                @employeeDetailsModel[i].FirstName 
                                                @employeeDetailsModel[i].LastName
                                            </p>
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Job Title
                                    </td>
                                    <td>
                                        @{
                                            <p>
                                                @employeeDetailsModel[i].Position
                                            </p>
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Department
                                    </td>
                                    <td>
                                        @{
                                            <p>
                                                @employeeDetailsModel[i].DepartmentId
                                            </p>
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Joining Date
                                    </td>
                                    <td>
                                        @{
                                            <p>
                                                @employeeDetailsModel[i].JoiningDate
                                            </p>
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Contact
                                    </td>
                                    <td>
                                        @{
                                            <p>
                                                @employeeDetailsModel[i].PhoneNumber
                                            </p>
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Email
                                    </td>
                                    <td>
                                        @{
                                            <p>
                                                @employeeDetailsModel[i].Email
                                            </p>
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Access Level
                                    </td>
                                    <td>
                                        @{
                                            <p>
                                                @employeeDetailsModel[i].UserRole
                                            </p>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="hidden-xs col-sm-6 col-md-offset-1">
            <img src="images/about-image.png" alt="">
        </div>
    </div>
</section>
<!-- End: User Profile Section -->