@model RosterMe.Models.Dashboard
<!-- model RosterMe.Models.Dashboard -->
@{
    //Display Home Layout
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";

    //Set tab title
    ViewData["Title"] = "Dashboard";

    //Store employee details as Lists
    //Employee
    List<RosterMe.Models.Entities.Employee> employeeDetailsModel =
        (List<RosterMe.Models.Entities.Employee>) ViewData["EmployeeDetails"];
    //Booked Shifts
    List<RosterMe.Models.Entities.BookedShifts> employeeBookedShifts_List =
        (List<RosterMe.Models.Entities.BookedShifts>) ViewData["EmployeeBookedShifts"];
    //Availabilities
    List<RosterMe.Models.Entities.Availability> employeeAvailabilities_List =
        (List<RosterMe.Models.Entities.Availability>) ViewData["EmployeeAvailabilities"];
    //Logged In Employees
    List<RosterMe.Models.Entities.LoginTrail> loggedInEmployees_List =
        (List<RosterMe.Models.Entities.LoginTrail>) ViewData["LoggedInEmployees"];
    //Employees Login
    List<RosterMe.Models.Entities.PasswordRequest> passwordRequests_List =
        (List<RosterMe.Models.Entities.PasswordRequest>) ViewData["PasswordRequests"];

    /*
    //Loop through logged in employees
    foreach(var employee in employeeDetailsModel)
    {
        <p>
            @employee.EmployeeId
        </p>
    }
    */
}

<!-- #### User Profile ##### -->
<partial name="~/Views/PartialViews/_UserProfileLayout.cshtml" />

<!-- #### Separator ##### -->
<!-- <hr style="border: 1px solid black;" /> -->

<!-- #### Section: Admin Data ##### -->
<section class="section-padding">
    <div class="container">
        <div id="row">
            <!-- #### Section: Logged In Employees ##### -->
            <div id="column" style="margin: 8px 15px 8px 15px; float: left;">
                <h2 class="">
                    Logged In Employees
                </h2>
                <hr />
                <table class="adminEmployeesDataTable"
                       style="padding: 8px 15px 8px 15px; width: 350px;">
                    <thead class="">
                        <tr>
                            <th>
                                Employee
                            </th>
                            <th>
                                Login Time
                            </th>
                        </tr>
                    </thead>
                    <tbody class="">
                        @foreach (var item in loggedInEmployees_List)
                        {
                            <tr>
                                <td style="padding: 3px 8px 3px 3px;">
                                    @item.LogIn.Employee.FirstName
                                    @item.LogIn.Employee.LastName
                                </td>
                                <td style="padding: 3px 8px 3px 3px;">
                                    @item.LogInTime.ToString("dd/MM/YYYY hh:mm tt")
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- #### Section: Available & Confirmed Employee's Shifts ##### -->
            <div id="column" style="margin: 8px 15px 8px 15px; float: left;">
                <h2>
                    Availability &amp; Confirmed Shifts
                </h2>
                <hr />
                <table class="adminEmployeesDataTable" 
                       style="padding: 8px 15px 8px 15px; width: 500px;">
                    <thead class="">
                        <tr>
                            <th>
                                Employee
                            </th>
                            <th>
                                Date
                            </th>
                            <th>
                                Shift
                            </th>
                        </tr>
                    </thead>
                    <tbody class="">
                        @foreach (var item in employeeAvailabilities_List)
                        {
                            <tr>
                                <td style="padding: 3px 8px 3px 3px;">
                                    @item.Employee.FirstName
                                    @item.Employee.LastName
                                </td>
                                <td style="padding: 3px 8px 3px 3px;">
                                    @item.AvailableDate.Date.ToString("dd/MM/yyyy")
                                </td>
                                <td style="padding: 3px 8px 3px 3px; width: 250px;">
                                    @item.AvailableFromTime.ToString("hh:mm tt") -
                                    @item.AvailableToTime.ToString("hh:mm tt")
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <div id="row">
            <!-- #### Section: Password Requests ##### -->
            <div id="column" style="margin: 8px 15px 8px 15px;">
                <h2 class="">
                    Password Requests
                </h2>
                <hr />
                <table class="adminEmployeesDataTable" style="padding: 8px 15px 8px 15px; width: 500px;">
                    <thead class="">
                        <tr>
                            <th>
                                Employee
                            </th>
                            <th>
                                Date
                            </th>
                            <th>
                                New Password
                            </th>
                        </tr>
                    </thead>
                    <tbody class="">
                        @foreach (var item in passwordRequests_List)
                        {
                            <tr>
                                <td style="padding: 3px 8px 3px 3px;">
                                    @item.Login.Employee.FirstName
                                    @item.Login.Employee.LastName
                                </td>
                                <td style="padding: 3px 8px 3px 3px;">
                                    @item.RequestDate.ToString("dd/MM/yyyy")
                                </td>
                                <td style="padding: 3px 8px 3px 3px;">
                                    @item.NewPassword
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>