@model RosterMe.Models.Dashboard
<!-- model RosterMe.Models.Dashboard -->
@{
    //Display Home Layout
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";

    //Set tab title
    ViewData["Title"] = "Dashboard";

    //Store employee details as Lists
    //Employee
    List<RosterMe.Models.Entities.Employee> employeeDetailsModel =
        (List<RosterMe.Models.Entities.Employee>)ViewData["EmployeeDetails"];
    //Booked Shifts
    List<RosterMe.Models.Entities.BookedShifts> employeeBookedShifts_List =
        (List<RosterMe.Models.Entities.BookedShifts>)ViewData["EmployeeBookedShifts"];
    //Availabilities
    List<RosterMe.Models.Entities.Availability> employeeAvailabilities_List =
        (List<RosterMe.Models.Entities.Availability>)ViewData["EmployeeAvailabilities"];
    //Logged In Employees
    List<RosterMe.Models.Entities.LoginTrail> loggedInEmployees_List =
        (List<RosterMe.Models.Entities.LoginTrail>)ViewData["LoggedInEmployees"];
    //Employees Login
    List<RosterMe.Models.Entities.PasswordRequest> passwordRequests_List =
        (List<RosterMe.Models.Entities.PasswordRequest>)ViewData["PasswordRequests"];


    //Loop through logged in employees
    foreach (var employee in employeeDetailsModel)
    {
        <div class="navbar mainmenu-area">
            @employee.FirstName
            <input type="text" hidden id="empId" name="empId" value=@employee.EmployeeId />
            <input type="text" hidden id="uRole" name="uRole" value=@employee.UserRole />
        </div>
    }

}

<!-- #### User Profile ##### -->
<partial name="~/Views/PartialViews/_UserProfileLayout.cshtml" />

<!-- #### Separator ##### -->
<hr />
<hr style="border: 1px solid black;" />

<!-- #### Section: Admin Data ##### -->
<section class="section-padding">
    <div class="container">
        <div id="row">
            <!-- #### Section: Logged In Employees ##### -->
            <div id="column">
                <h2 class="">
                    Today's Logged In Employees
                </h2>
                <hr />
                <table class="">
                    <thead>
                        <tr>
                            <th>
                                Employee
                            </th>
                            <th>
                                Login Time
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in loggedInEmployees_List)
                        {
                            <tr>
                                <td>
                                    @item.LogIn.Employee.FirstName
                                    @item.LogIn.Employee.LastName
                                </td>
                                <td>
                                    @item.LogInTime.ToString("dd/MM/YYYY hh:mm")
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- #### Section: Available & Confirmed Employee's Shifts ##### -->
            <div id="column">
                <h2 class="">
                    Available &amp; Confirmed Shifts
                </h2>
                <hr />
                <table class="">
                    <thead>
                        <tr>
                            <th>
                                Employee
                            </th>
                            <th>
                                Date
                            </th>
                            <th>
                                Status
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in employeeAvailabilities_List)
                        {
                            <tr>
                                <td>
                                    @item.Employee.FirstName
                                    @item.Employee.LastName
                                </td>
                                <td>
                                    @item.AvailableDate.Date
                                </td>
                                <td>
                                    @item.AvailableFromTime -
                                    @item.AvailableToTime
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- #### Section: Password Requests ##### -->
            <div id="column">
                <h2 class="">
                    Password Requests
                </h2>
                <hr />
                <table class="">
                    <thead>
                        <tr>
                            <th>
                                Employee
                            </th>
                            <th>
                                Date
                            </th>
                            <th>
                                New Password
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in passwordRequests_List)
                        {
                            <tr>
                                <td>
                                    @item.Login.Employee.FirstName
                                    @item.Login.Employee.LastName
                                </td>
                                <td>
                                    @item.RequestDate.ToString("dd/MM/YYYY")
                                </td>
                                <td>
                                    @item.NewPassword
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

    <script src="~/MyJavascriptFiles/GetLoginDetail.js"></script>
