@model RosterMe.Models.Entities.LoginTrail

@{
    //Set Layout
    Layout = "~Views/Shared/_LoginTrailsLayout.cshtml";

    //Set tab title
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>LoginTrail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LogIn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LogIn.LoginId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LogInTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LogInTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LogOutTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LogOutTime)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="LoginTrailId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
